@import "/packages/bootstrap3-less/bootstrap.lessimport";
@import "prefixer.lessimport";

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #eeeeee;
  color: #333333;
}

a, a:visited, a:active {
  color: #258;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#main-pane, #side-pane {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

//h3 {
//  font-weight: bold;
//  text-decoration: underline;
//  font-size: 120%;
//  padding: 8px 6px;
//  text-align: center;
//}

#data-table {
  .table;
  .table-striped;
  .table-bordered;
}

#items-view {
  padding-left: 40px;
  width: 85%;
}

#pagination {
  .pagination;
  text-align: right;
}

#item-list {
  width: 100%;
  .book:hover {
    .destroy {
      background: url('/destroy.png') no-repeat 0 0;
    }
  }
  .book {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
    .item-tags {
      overflow: auto;
      float: right;
      margin-right: 8px;
      .tag {
        margin-top: 15px;
        .remove:hover {
          background-position: -16px center;
        }
        .remove {
          position: absolute;
          top: 0;
          right: 4px;
          bottom: 0;
          width: 16px;
          background-repeat: no-repeat;
          background-position: 0 center;
          background-image: url("/close_16.png");
        }
      }
      div.addtag {
        background: none;
        color: #333;
        border: 1px dashed #999;
      }
      .removable_tag {
        padding-right: 22px;
      }
    }
  }
}
#main-pane {
  top: 45px;
  bottom: 0;
  left: 220px;
  overflow: auto;
}
#items-view {
  margin-top: 5px;
  margin-left: 5px;
}
#side-pane {
  width: 200px;
  right: auto;
  overflow: auto;
  border-right: 1px solid #999;
  background: #ddd;
}
