@import "/packages/bootstrap3-less/bootstrap.lessimport";
@import "prefixer.lessimport";

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #eeeeee;
  color: #333333;
}

a, a:visited, a:active {
  color: #258;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#main-pane {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 220px;
  overflow: auto;
}

#side-pane {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  right: auto;
  overflow: auto;
  border-right: 1px solid #999;
  background: #ddd;
}

#data-table {
  .table;
  .table-striped;
  .table-bordered;
  table-layout: fixed;
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .col-name {
    width: 30%;
  }
  .col-autor {
    width: 20%;
  }
  .col-language {
    width: 10%;
  }
  .col-genre {
    width: 8%;
  }
  .col-year {
    width: 8%;
  }
  .col-notes {
    width: 24%;
  }
}

#items-view {
  padding-left: 40px;
  width: 85%;
  margin-top: 5px;
  margin-left: 5px;
}

#pagination {
  .pagination;
  .pagination-sm;
  text-align: right;
}

